name: Bake new version

on:
  push:
    branches:
      - "main"
jobs:
  new-version:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    outputs:
      version: ${{ steps.version.outputs.next }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install git-semver
        run: brew install mdomke/git-semver/git-semver
      - name: Check if commit includes version bump
        id: bump
        run: |
          echo target=$(git rev-list --max-count=1 --no-commit-header --format=%B HEAD | awk -F":" '{print $1}' | tr -d "\n\r" | grep -e "major\|minor") >> "$GITHUB_OUTPUT"
      - name: Get next version
        id: version
        run: |
          export TARGET_VAR="${{ steps.bump.outputs.target }}"
          export TARGET=${TARGET_VAR:-patch}
          echo next=$(git-semver -prefix v -target $TARGET) >> "$GITHUB_OUTPUT"
          echo "*version*: $(git-semver -prefix v -target $TARGET)" >> $GITHUB_STEP_SUMMARY
      - uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: "${{ steps.version.outputs.next }}"
          tag_exists_error: true
  build-image:
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write
    runs-on: ubuntu-latest
    needs: new-version
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image
        id: push
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{needs.new-version.outputs.version}}
      - name: Attest
        uses: actions/attest-build-provenance@v3
        id: attest
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true